<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>FlowPlayer</title>
</head>
<body bgcolor="#CCCCCC">
<object type="application/x-shockwave-flash" data="FlowPlayer.swf" width="200" height="150" id="FlowPlayer">
	<param name="allowScriptAccess" value="always" />
	<param name="movie" value="FlowPlayer.swf" />
	<param name="quality" value="high" />
	<param name="scaleMode" value="showAll" />
	<param name="allowfullscreen" value="false" />
	<param name="wmode" value="transparent" />
	<param name="allowNetworking" value="all" />
	<param name="flashvars" value="config={
		autoPlay: true,
		loop: false,
		initialScale: 'scale',
		showLoopButton: false,
		showPlayListButtons: false,
		showFullScreenButton: false,
		showMenu: false,
		playList: [
			{ url: 'play-button-328x240.jpg' },
			{ url: 'movie.flv' },
			{ url: '', type: 'swf' }
		]
		}" />
</object>
</body>
</html>